<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>My translator</title>
</head>
<body style = 'padding: 230px'>
    <h1 style="text-align: center;">This is my translator</h1>
    <div style="display: flex; flex-direction: column;">
        <form style="display: flex; flex-direction: column; align-items: center;" action="" method="post">
            <p style = 'padding: 20px; display: flex; flex-direction: column; align-items: center;'>
                <label style = 'padding-right: 20px; ' for = 'trans'>Enter your text: </label>
                <input style = 'outline:none; height: 50px; width: 1000px; border-radius: 4px; align="center";' type="text" name="trans">
            </p>

            <section style="display: flex; flex-direction: column;align-items: center; padding-bottom: 20px;">
                <label for = 'lang'>Выберите язык на который нужно перевести:</label>
                <select name="lang">
                    <option value="ru">Russian</option>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                </select>
            </section>
            <input style = 'display: flex; flex-direction: column; align-items: center; font-family: Arial; margin: 0 100px;width: 10%; ' type="submit">
        </form>
        <br>
        <p style="display: flex; flex-direction: column; align-items: center;padding: 20px;">{{my_string}}</p>
    </div>
</body>
</html>